.homeContainer {
    margin-top: 64px;
}

.viewSelectedBanner {
    visibility: visible;
    opacity: 1;
    background-color: #0FB3F9;
    height: 55px;
    transition: height 0.3s ease-in;
    display: flex;
    align-items: center;
}

.viewSelectedBannerContent {
    position: absolute;
    right: 16px;
    color: white;
    cursor: pointer;
}

.hideSelectedBanner {
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;   
}

body {
    margin: 0;
}